In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [22]:
origin_df = pd.read_csv('https://production-bobsim.s3.ap-northeast-2.amazonaws.com/public_data/open_data_marine_weather/origin/csv/2014-2020.csv', encoding='euc-kr')

In [23]:
origin_df.head()

,지점,일시,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
0,21229,2014-01-01,10.9,1009.0,44.0,8.8,14.5,4.5,2.8,3.5,5.9,7.6,9.1
1,21229,2014-01-02,5.6,1017.8,61.0,6.4,14.4,3.7,2.4,3.7,6.1,7.8,9.1
2,21229,2014-01-03,6.5,1014.8,45.0,10.0,13.9,1.9,1.2,1.7,2.8,5.6,8.0
3,21229,2014-01-04,9.5,1017.9,68.0,3.1,13.5,3.7,2.3,3.0,5.7,7.2,9.1
4,21229,2014-01-05,7.4,1021.6,71.0,3.4,13.2,2.6,1.6,2.2,3.8,7.1,8.0

In [24]:
origin_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,34061.000000,33172.000000,33145.000000,33024.000000,33174.000000,33255.000000,33418.000000,33228.000000,33988.000000,33989.000000,33156.000000,33994.000000
mean,22079.921141,5.625133,1016.389127,74.240764,14.792533,16.979955,1.659426,1.014915,1.457709,2.476495,5.542454,7.567147
std,230.179519,2.703976,7.842170,14.607032,7.685113,6.055944,1.146215,0.722283,1.027021,1.679699,1.642508,2.706571
min,21229.000000,0.000000,982.300000,0.000000,-11.000000,1.100000,0.100000,0.000000,0.000000,0.000000,2.200000,2.000000
25%,22103.000000,3.500000,1010.200000,63.000000,8.400000,13.000000,0.800000,0.500000,0.700000,1.200000,4.400000,6.400000
50%,22107.000000,5.300000,1016.600000,75.000000,15.200000,16.800000,1.400000,0.900000,1.200000,2.100000,5.400000,7.100000
75%,22185.000000,7.400000,1022.500000,87.000000,21.200000,21.700000,2.200000,1.300000,1.900000,3.300000,6.500000,8.700000
max,22194.000000,19.600000,1038.500000,100.000000,34.600000,31.500000,12.700000,7.600000,12.000000,17.600000,24.400000,64.000000

In [25]:
origin_df["평균 풍속(m/s)"].sort_values()

5288     0.0
24673    0.0
24623    0.0
24676    0.0
24677    0.0
        ...
33960    NaN
33961    NaN
33962    NaN
33963    NaN
34060    NaN
Name: 평균 풍속(m/s), Length: 34061, dtype: float64

In [26]:
origin_df["평균 유의 파고(m)"].sort_values()

4302     0.0
22182    0.0
21994    0.0
22184    0.0
21665    0.0
        ...
33960    NaN
33961    NaN
33962    NaN
33963    NaN
34060    NaN
Name: 평균 유의 파고(m), Length: 34061, dtype: float64

In [27]:
origin_df["평균 파주기(sec)"].sort_values()

2503     2.2
2637     2.2
4819     2.2
20351    2.3
2700     2.3
        ...
33960    NaN
33961    NaN
33962    NaN
33963    NaN
34060    NaN
Name: 평균 파주기(sec), Length: 34061, dtype: float64

In [28]:
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34061 entries, 0 to 34060
Data columns (total 13 columns):
지점              34061 non-null int64
일시              34061 non-null object
평균 풍속(m/s)      33172 non-null float64
평균기압(hPa)       33145 non-null float64
평균 상대습도(pct)    33024 non-null float64
평균 기온(°C)       33174 non-null float64
평균 수온(°C)       33255 non-null float64
평균 최대 파고(m)     33418 non-null float64
평균 유의 파고(m)     33228 non-null float64
최고 유의 파고(m)     33988 non-null float64
최고 최대 파고(m)     33989 non-null float64
평균 파주기(sec)     33156 non-null float64
최고 파주기(sec)     33994 non-null float64
dtypes: float64(11), int64(1), object(1)
memory usage: 3.4+ MB

In [30]:
origin_df.isnull().sum()

지점                 0
일시                 0
평균 풍속(m/s)       889
평균기압(hPa)        916
평균 상대습도(pct)    1037
평균 기온(°C)        887
평균 수온(°C)        806
평균 최대 파고(m)      643
평균 유의 파고(m)      833
최고 유의 파고(m)       73
최고 최대 파고(m)       72
평균 파주기(sec)      905
최고 파주기(sec)       67
dtype: int64

** null % **

In [31]:
origin_df.isnull().sum()/34061 * 100

지점              0.000000
일시              0.000000
평균 풍속(m/s)      2.610023
평균기압(hPa)       2.689293
평균 상대습도(pct)    3.044538
평균 기온(°C)       2.604151
평균 수온(°C)       2.366343
평균 최대 파고(m)     1.887790
평균 유의 파고(m)     2.445612
최고 유의 파고(m)     0.214321
최고 최대 파고(m)     0.211385
평균 파주기(sec)     2.656998
최고 파주기(sec)     0.196706
dtype: float64

#### 평균 풍속,기압, 습도,기온,수온 -> mean 
#### 파고에 관한것 -> 0

In [32]:
# origin_df[['평균 파주기(sec)','최고 파주기(sec)']]= origin_df[['평균 파주기(sec)','최고 파주기(sec)']].fillna(0)
fillna_with_zero = pd.concat([
    origin_df.drop(columns=['평균 파주기(sec)','최고 파주기(sec)']), origin_df[['평균 파주기(sec)','최고 파주기(sec)']].fillna(0)
], axis=1)

fillna_with_zero

,지점,일시,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
0,21229,2014-01-01,10.9,1009.0,44.0,8.8,14.5,4.5,2.8,3.5,5.9,7.6,9.1
1,21229,2014-01-02,5.6,1017.8,61.0,6.4,14.4,3.7,2.4,3.7,6.1,7.8,9.1
2,21229,2014-01-03,6.5,1014.8,45.0,10.0,13.9,1.9,1.2,1.7,2.8,5.6,8.0
3,21229,2014-01-04,9.5,1017.9,68.0,3.1,13.5,3.7,2.3,3.0,5.7,7.2,9.1
4,21229,2014-01-05,7.4,1021.6,71.0,3.4,13.2,2.6,1.6,2.2,3.8,7.1,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34056,22194,2020-02-20,3.7,1032.8,67.0,8.0,9.0,0.6,0.3,0.5,0.7,3.6,5.8
34057,22194,2020-02-21,4.0,1028.9,77.0,9.6,8.8,0.6,0.4,0.5,0.7,3.0,4.6
34058,22194,2020-02-22,8.4,1028.3,65.0,8.1,8.8,2.4,1.5,2.2,3.6,5.1,7.1
34059,22194,2020-02-23,4.1,1029.8,59.0,6.6,8.9,2.1,1.3,1.9,3.2,5.7,7.1
34060,22194,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.8,0.0,4.9

In [33]:
fillna_df = fillna_with_zero.fillna(fillna_with_zero.mean())

In [34]:
fillna_df.head()

,지점,일시,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
0,21229,2014-01-01,10.9,1009.0,44.0,8.8,14.5,4.5,2.8,3.5,5.9,7.6,9.1
1,21229,2014-01-02,5.6,1017.8,61.0,6.4,14.4,3.7,2.4,3.7,6.1,7.8,9.1
2,21229,2014-01-03,6.5,1014.8,45.0,10.0,13.9,1.9,1.2,1.7,2.8,5.6,8.0
3,21229,2014-01-04,9.5,1017.9,68.0,3.1,13.5,3.7,2.3,3.0,5.7,7.2,9.1
4,21229,2014-01-05,7.4,1021.6,71.0,3.4,13.2,2.6,1.6,2.2,3.8,7.1,8.0

In [35]:
fillna_df.isnull().sum()

지점              0
일시              0
평균 풍속(m/s)      0
평균기압(hPa)       0
평균 상대습도(pct)    0
평균 기온(°C)       0
평균 수온(°C)       0
평균 최대 파고(m)     0
평균 유의 파고(m)     0
최고 유의 파고(m)     0
최고 최대 파고(m)     0
평균 파주기(sec)     0
최고 파주기(sec)     0
dtype: int64

In [36]:
origin_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,34061.000000,33172.000000,33145.000000,33024.000000,33174.000000,33255.000000,33418.000000,33228.000000,33988.000000,33989.000000,33156.000000,33994.000000
mean,22079.921141,5.625133,1016.389127,74.240764,14.792533,16.979955,1.659426,1.014915,1.457709,2.476495,5.542454,7.567147
std,230.179519,2.703976,7.842170,14.607032,7.685113,6.055944,1.146215,0.722283,1.027021,1.679699,1.642508,2.706571
min,21229.000000,0.000000,982.300000,0.000000,-11.000000,1.100000,0.100000,0.000000,0.000000,0.000000,2.200000,2.000000
25%,22103.000000,3.500000,1010.200000,63.000000,8.400000,13.000000,0.800000,0.500000,0.700000,1.200000,4.400000,6.400000
50%,22107.000000,5.300000,1016.600000,75.000000,15.200000,16.800000,1.400000,0.900000,1.200000,2.100000,5.400000,7.100000
75%,22185.000000,7.400000,1022.500000,87.000000,21.200000,21.700000,2.200000,1.300000,1.900000,3.300000,6.500000,8.700000
max,22194.000000,19.600000,1038.500000,100.000000,34.600000,31.500000,12.700000,7.600000,12.000000,17.600000,24.400000,64.000000

In [37]:
fillna_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000
mean,22079.921141,5.625133,1016.389127,74.240764,14.792533,16.979955,1.659426,1.014915,1.457709,2.476495,5.395191,7.552262
std,230.179519,2.668455,7.735999,14.382948,7.584384,5.983861,1.135344,0.713396,1.025919,1.677923,1.849509,2.724616
min,21229.000000,0.000000,982.300000,0.000000,-11.000000,1.100000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22103.000000,3.600000,1010.400000,63.000000,8.500000,13.100000,0.800000,0.500000,0.700000,1.200000,4.300000,6.100000
50%,22107.000000,5.400000,1016.389127,75.000000,14.800000,16.979955,1.400000,0.900000,1.200000,2.100000,5.300000,7.100000
75%,22185.000000,7.300000,1022.300000,87.000000,21.000000,21.600000,2.200000,1.300000,1.900000,3.300000,6.400000,8.500000
max,22194.000000,19.600000,1038.500000,100.000000,34.600000,31.500000,12.700000,7.600000,12.000000,17.600000,24.400000,64.000000

In [41]:
origin_groupby_df = origin_df.groupby('일시').mean()
fillna_groupby_df = fillna_df.groupby('일시').mean()

 ** 왜곡도 추출 **

In [42]:
origin_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,34061.000000,33172.000000,33145.000000,33024.000000,33174.000000,33255.000000,33418.000000,33228.000000,33988.000000,33989.000000,33156.000000,33994.000000
mean,22079.921141,5.625133,1016.389127,74.240764,14.792533,16.979955,1.659426,1.014915,1.457709,2.476495,5.542454,7.567147
std,230.179519,2.703976,7.842170,14.607032,7.685113,6.055944,1.146215,0.722283,1.027021,1.679699,1.642508,2.706571
min,21229.000000,0.000000,982.300000,0.000000,-11.000000,1.100000,0.100000,0.000000,0.000000,0.000000,2.200000,2.000000
25%,22103.000000,3.500000,1010.200000,63.000000,8.400000,13.000000,0.800000,0.500000,0.700000,1.200000,4.400000,6.400000
50%,22107.000000,5.300000,1016.600000,75.000000,15.200000,16.800000,1.400000,0.900000,1.200000,2.100000,5.400000,7.100000
75%,22185.000000,7.400000,1022.500000,87.000000,21.200000,21.700000,2.200000,1.300000,1.900000,3.300000,6.500000,8.700000
max,22194.000000,19.600000,1038.500000,100.000000,34.600000,31.500000,12.700000,7.600000,12.000000,17.600000,24.400000,64.000000

In [43]:
fillna_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000
mean,22079.921141,5.625133,1016.389127,74.240764,14.792533,16.979955,1.659426,1.014915,1.457709,2.476495,5.395191,7.552262
std,230.179519,2.668455,7.735999,14.382948,7.584384,5.983861,1.135344,0.713396,1.025919,1.677923,1.849509,2.724616
min,21229.000000,0.000000,982.300000,0.000000,-11.000000,1.100000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22103.000000,3.600000,1010.400000,63.000000,8.500000,13.100000,0.800000,0.500000,0.700000,1.200000,4.300000,6.100000
50%,22107.000000,5.400000,1016.389127,75.000000,14.800000,16.979955,1.400000,0.900000,1.200000,2.100000,5.300000,7.100000
75%,22185.000000,7.300000,1022.300000,87.000000,21.000000,21.600000,2.200000,1.300000,1.900000,3.300000,6.400000,8.500000
max,22194.000000,19.600000,1038.500000,100.000000,34.600000,31.500000,12.700000,7.600000,12.000000,17.600000,24.400000,64.000000

In [45]:
groupby_df = fillna_df.groupby('일시').mean()

In [46]:
groupby_df.drop("지점", axis=1).reset_index()

,일시,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
0,2014-01-01,7.480000,1015.398913,52.800000,8.710000,11.530000,2.330000,1.440000,2.020000,3.290000,6.010000,7.950000
1,2014-01-02,4.795027,1019.127825,53.048153,9.478507,13.515991,1.781885,1.122983,1.570000,2.610000,5.220000,8.800000
2,2014-01-03,4.475027,1016.417825,57.148153,10.638507,13.485991,1.201885,0.732983,0.860000,1.440000,4.870000,8.860000
3,2014-01-04,7.905027,1017.817825,63.848153,7.528507,13.245991,2.241885,1.372983,1.920000,3.290000,4.490000,7.060000
4,2014-01-05,6.465027,1020.997825,63.448153,7.348507,13.025991,2.041885,1.262983,1.570000,2.760000,4.980000,8.660000
...,...,...,...,...,...,...,...,...,...,...,...,...
2254,2020-03-07,4.100000,1017.647368,73.157895,9.557895,11.173684,1.284211,0.757895,1.052632,1.800000,6.452632,9.052632
2255,2020-03-13,6.730890,1020.881713,63.249457,8.887796,10.745880,1.736403,1.089113,1.682353,2.794118,6.052941,8.600000
2256,2020-03-17,6.976471,1016.564706,75.176471,10.064706,10.652941,1.864706,1.129412,1.476471,2.523529,5.394118,7.935294
2257,2020-03-19,10.611765,1008.441176,68.117647,10.911765,10.870588,2.941176,1.805882,2.658824,4.347059,5.629412,7.629412
2258,2020-03-21,6.123529,1012.176471,81.529412,12.064706,11.011765,1.852941,1.135294,1.505882,2.629412,5.417647,6.152941

In [47]:
from scipy.stats import skew

features_index = groupby_df.dtypes[origin_df.dtypes != 'object'].index

skew_features = groupby_df[features_index].apply(lambda x : skew(x))

skew_features_top = skew_features[skew_features > 1]
print(skew_features.sort_values(ascending=False))

최고 유의 파고(m)     1.274586
평균 유의 파고(m)     1.263467
평균 최대 파고(m)     1.245660
최고 최대 파고(m)     1.231577
최고 파주기(sec)     0.902088
평균 풍속(m/s)      0.753492
평균 파주기(sec)     0.454042
평균 수온(°C)       0.284699
평균 기온(°C)      -0.057085
평균기압(hPa)      -0.086198
평균 상대습도(pct)   -0.131075
지점             -0.752112
dtype: float64

In [63]:
groupby_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000,2259.000000
mean,22074.640341,5.585022,1016.279349,74.491515,14.827156,16.978173,1.616951,0.985063,1.449781,2.461007,5.377129,7.545449
std,26.158801,2.039068,7.370580,12.268052,7.134034,5.253483,0.797383,0.501526,0.732068,1.198583,0.933928,1.129598
min,22016.222222,1.700000,992.955570,45.545455,-4.358824,8.605882,0.182353,0.111765,0.341176,0.635294,0.594118,4.880000
25%,22039.272727,4.014706,1010.392513,63.672876,8.630944,12.008353,1.041176,0.618750,0.914706,1.588235,4.711765,6.735829
50%,22091.588235,5.194118,1016.670588,75.072986,14.930933,16.456250,1.411765,0.858824,1.270588,2.154545,5.282353,7.376471
75%,22091.588235,6.883228,1022.071242,85.515048,21.031283,21.495000,1.980909,1.223529,1.846257,3.111765,5.964706,8.153743
max,22110.809524,14.882821,1035.182353,96.909091,29.282353,29.070588,5.528571,3.452381,5.888235,9.582353,9.318182,13.700000

 ** 1이상 log 변환**

In [49]:
groupby_df[skew_features_top.index] = np.log1p(groupby_df[skew_features_top.index])

In [50]:
skew_features_logs = groupby_df[features_index].apply(lambda x : skew(x))

print(skew_features_logs.sort_values(ascending=False))

최고 파주기(sec)     0.902088
평균 풍속(m/s)      0.753492
평균 유의 파고(m)     0.666465
평균 최대 파고(m)     0.537974
최고 유의 파고(m)     0.507107
평균 파주기(sec)     0.454042
최고 최대 파고(m)     0.405773
평균 수온(°C)       0.284699
평균 기온(°C)      -0.057085
평균기압(hPa)      -0.086198
평균 상대습도(pct)   -0.131075
지점             -0.752112
dtype: float64