In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from util.build_dataset import build_origin_weather

origin_w_df, key = build_origin_weather(date="201908")

2020-04-08 22:23:20:manager:<INFO> 1 files is loaded from public_data/open_data_terrestrial_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'
2020-04-08 22:23:21:manager:<INFO> 1 files is loaded from public_data/open_data_marine_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'

In [3]:
clean_df, key = build_origin_weather(date="201908", prefix='clean')

2020-04-08 22:23:23:manager:<INFO> 1 files is loaded from public_data/open_data_terrestrial_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'
2020-04-08 22:23:24:manager:<INFO> 1 files is loaded from public_data/open_data_marine_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'

In [4]:
mani_df = origin_w_df[['t_dur_preci','t_daily_preci']]

In [5]:
origin_w_df.head()

,date,t_location,t_temper_avg,t_temper_lowest,t_temper_high,t_dur_preci,t_daily_preci,t_wind_spd_max,t_wind_spd_avg,t_rel_hmd_min,...,m_atm_press_avg,m_rel_hmd_avg,m_temper_avg,m_water_temper_avg,m_max_wave_h_avg,m_sign_wave_h_avg,m_sign_wave_h_high,m_max_wave_h_high,m_wave_p_avg,m_wave_p_high
0,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1009.900024,89.0,25.200001,25.200001,1.1,0.6,1.1,2.0,4.5,5.3
1,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1011.700012,97.0,23.400000,21.000000,0.6,0.3,0.4,0.7,5.0,5.8
2,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1011.900024,94.0,23.400000,21.799999,0.8,0.5,0.7,1.2,5.0,5.8
3,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1014.299988,96.0,27.400000,26.100000,0.8,0.5,0.7,1.1,4.1,5.3
4,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1012.200012,95.0,25.799999,25.299999,0.7,0.4,0.5,0.8,5.3,6.4

In [6]:
mani_0_df = mani_df[mani_df['t_daily_preci' ]== 0]

### check t_dur_preci , t_daily_preci

In [15]:
mani_0_df.head(50)

    t_dur_preci  t_daily_preci
0           NaN              0
1           NaN              0
2           NaN              0
3           NaN              0
4           NaN              0
5           NaN              0
6           NaN              0
7           NaN              0
8           NaN              0
9           NaN              0
10          NaN              0
11          NaN              0
12          NaN              0
13          NaN              0
14          NaN              0
15          NaN              0
16          NaN              0
17         6.25              0
18         6.25              0
19         6.25              0
20         6.25              0
21         6.25              0
22         6.25              0
23         6.25              0
24         6.25              0
25         6.25              0
26         6.25              0
27         6.25              0
28         6.25              0
29         6.25              0
30         6.25              0
31         6.25              0
32         6.25              0
33         6.25              0
34          NaN              0
35          NaN              0
36          NaN              0
37          NaN              0
38          NaN              0
39          NaN              0
40          NaN              0
41          NaN              0
42          NaN              0
43          NaN              0
44          NaN              0
45          NaN              0
46          NaN              0
47          NaN              0
48          NaN              0
49          NaN              0

### Null value %

In [12]:
origin_w_df.isnull().sum()/49136*100

date                   0.000000
t_location             0.000000
t_temper_avg           0.240150
t_temper_lowest        0.034598
t_temper_high          0.000000
t_dur_preci           88.802507
t_daily_preci         54.111039
t_wind_spd_max         0.164849
t_wind_spd_avg         0.103794
t_rel_hmd_min          0.000000
t_rel_hmd_avg          0.240150
m_location             0.000000
m_wind_spd_avg         5.352491
m_atm_press_avg        7.273689
m_rel_hmd_avg          6.510501
m_temper_avg           6.121784
m_water_temper_avg     6.313090
m_max_wave_h_avg       5.541762
m_sign_wave_h_avg      6.123820
m_sign_wave_h_high     0.000000
m_max_wave_h_high      0.000000
m_wave_p_avg           6.689596
m_wave_p_high          0.000000
dtype: float64

In [19]:
origin_w_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49136 entries, 0 to 49135
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                49136 non-null  datetime64[ns]
 1   t_location          49136 non-null  object
 2   t_temper_avg        49018 non-null  float32
 3   t_temper_lowest     49119 non-null  float32
 4   t_temper_high       49136 non-null  float32
 5   t_dur_preci         5502 non-null   float32
 6   t_daily_preci       22548 non-null  float32
 7   t_wind_spd_max      49055 non-null  float32
 8   t_wind_spd_avg      49085 non-null  float32
 9   t_rel_hmd_min       49136 non-null  float32
 10  t_rel_hmd_avg       49018 non-null  float32
 11  m_location          49136 non-null  object
 12  m_wind_spd_avg      46506 non-null  float32
 13  m_atm_press_avg     45562 non-null  float32
 14  m_rel_hmd_avg       45937 non-null  float32
 15  m_temper_avg        46128 non-null  float32
 16  m_water_temper_avg  46034 non-null  float32
 17  m_max_wave_h_avg    46413 non-null  float32
 18  m_sign_wave_h_avg   46127 non-null  float32
 19  m_sign_wave_h_high  49136 non-null  float32
 20  m_max_wave_h_high   49136 non-null  float32
 21  m_wave_p_avg        45849 non-null  float32
 22  m_wave_p_high       49136 non-null  float32
dtypes: datetime64[ns](1), float32(20), object(2)
memory usage: 5.2+ MB

## null handling
#### t_dur_preci, t_daily_preci , t_total_insolation -> 0
#### rest feature -> mean()

### 합계 일사량은 조사자체를 안하는 지역이 많아서 null value가 많다 ( 삭제 )

** 숫자 피처들에 대한 데이터 분포 왜곡도 확인 후 높은 왜곡도를 가지는 피처 추출 **

In [7]:
from scipy.stats import skew

features_index = clean_df.dtypes[(clean_df.dtypes != 'object') & (clean_df.dtypes != 'datetime64[ns]') ].index

skew_features = clean_df[features_index].apply(lambda x : skew(x))

skew_features_top = skew_features[skew_features > 1]
print(skew_features_top.sort_values(ascending=False))
#print(skew_features.sort_values(ascending=False))

t_wind_spd_avg    1.620263
t_daily_preci     1.555879
t_dur_preci       1.364356
m_wave_p_avg      1.046294
dtype: float64

### check skew

In [8]:
skew_features.to_frame().rename(columns={0:"skew"})

                        skew
t_dur_preci         1.364356
t_daily_preci       1.555879
t_temper_avg       -0.405512
t_temper_lowest    -0.595616
t_temper_high      -0.435885
t_wind_spd_max      0.982741
t_wind_spd_avg      1.620263
t_rel_hmd_min       0.726905
t_rel_hmd_avg       0.826214
m_wave_p_avg        1.046294
m_wave_p_high       0.481650
m_wind_spd_avg      0.651676
m_atm_press_avg    -1.215276
m_rel_hmd_avg      -0.884804
m_temper_avg       -0.672529
m_water_temper_avg -0.887285
m_max_wave_h_avg    0.799646
m_sign_wave_h_avg   0.818503
m_sign_wave_h_high  0.808673
m_max_wave_h_high   0.730043

In [11]:
clean_df[['t_dur_preci', 't_daily_preci']].T

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
t_dur_preci,0.345263,0.032947,0.053158,0.049368,0.009263,0.658421,0.944043,0.212340,0.047872,0.017553,...,1.416064,0.064624,0.022473,0.241596,0.172766,2.209574,0.975638,0.856277,0.057660,0.020000
t_daily_preci,3.237895,0.037895,0.810526,0.447368,0.361053,9.617895,14.480851,3.831915,0.072340,0.032979,...,24.803192,0.002151,0.008602,0.769149,0.447872,19.127659,3.987234,6.409575,0.109574,0.065957

** 왜곡도가 1인 피처들은 로그 변환 적용 **

In [ ]:
import numpy as np
origin_df[skew_features_top.index] = np.log1p(origin_df[skew_features_top.index])

In [30]:
skew_features = origin_df[features_index].apply(lambda x : skew(x))
print(skew_features.sort_values(ascending=False))

강수 계속시간(hr)      3.536727
일강수량(mm)         2.196918
평균 풍속(m/s)       0.764090
합계 일사량(MJ/m2)    0.507175
최대 풍속(m/s)       0.332204
지점              -0.440484
최소 상대습도(pct)    -0.613731
합계 일조시간(hr)     -1.063731
평균 상대습도(pct)    -1.088218
평균기온(°C)              NaN
최저기온(°C)              NaN
최고기온(°C)              NaN
dtype: float64